body{
  background-color: #c7ffc3;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    border: 1px solid black;
    padding: 8px;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0f5a12;
    color: white;
  }
  
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }


.download_file{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(221, 160, 160);
}

.bidonDeleteButton{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 50px;
  width: 230px;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(221, 160, 160);
  cursor: pointer;
}

.bidonButtonContainer{
  display: flexbox;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 0px;
  padding-top: 130px; 
}

.inputBidones{
  width: 500px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
